USE [master]
GO
/****** Object:  Database [Library]    Script Date: 23.03.2022 22:40:19 ******/
CREATE DATABASE [Library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Library', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Library.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Library_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 23.03.2022 22:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[Id_Author] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [nchar](30) NOT NULL,
	[Middle_Name] [nchar](30) NOT NULL,
	[Last_Name] [nchar](30) NULL,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[Id_Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 23.03.2022 22:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id_Book] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [nchar](15) NULL,
	[Name] [nchar](50) NOT NULL,
	[Id_Genre] [int] NOT NULL,
	[Id_Publication] [int] NOT NULL,
	[Count_Pages] [int] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[Id_Book] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books_Of_Authors]    Script Date: 23.03.2022 22:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books_Of_Authors](
	[Id_Author] [int] NOT NULL,
	[Id_Book] [int] NOT NULL,
 CONSTRAINT [PK_Books_Of_Authors] PRIMARY KEY CLUSTERED 
(
	[Id_Author] ASC,
	[Id_Book] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 23.03.2022 22:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[Id_Genre] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](30) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[Id_Genre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 23.03.2022 22:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id_Order] [int] IDENTITY(1,1) NOT NULL,
	[Date_Inception] [date] NOT NULL,
	[Date_End] [date] NOT NULL,
	[Count_Books] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[Id_User] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders_Lines]    Script Date: 23.03.2022 22:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders_Lines](
	[Id_Order_Lines] [int] IDENTITY(1,1) NOT NULL,
	[Id_Book] [int] NOT NULL,
	[Id_Reader] [int] NOT NULL,
	[Id_Order] [int] NOT NULL,
 CONSTRAINT [PK_Orders_Lines] PRIMARY KEY CLUSTERED 
(
	[Id_Order_Lines] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publications]    Script Date: 23.03.2022 22:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publications](
	[Id_Publication] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Publications] PRIMARY KEY CLUSTERED 
(
	[Id_Publication] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Readers]    Script Date: 23.03.2022 22:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Readers](
	[Id_Reader] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [nchar](30) NOT NULL,
	[Middle_Name] [nchar](30) NOT NULL,
	[Last_Name] [nchar](30) NULL,
	[Number] [nchar](12) NOT NULL,
	[Mail] [nchar](30) NOT NULL,
 CONSTRAINT [PK_Readers] PRIMARY KEY CLUSTERED 
(
	[Id_Reader] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Types_Users]    Script Date: 23.03.2022 22:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Types_Users](
	[Id_Type] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](20) NOT NULL,
 CONSTRAINT [PK_Types_Users] PRIMARY KEY CLUSTERED 
(
	[Id_Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23.03.2022 22:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id_User] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nchar](30) NOT NULL,
	[Password] [nchar](30) NOT NULL,
	[Mail] [nchar](30) NULL,
	[Number] [nchar](12) NOT NULL,
	[First_Name] [nchar](30) NOT NULL,
	[Middle_Name] [nchar](30) NOT NULL,
	[Last_Name] [nchar](30) NULL,
	[Id_Type_Users] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Genres] FOREIGN KEY([Id_Genre])
REFERENCES [dbo].[Genres] ([Id_Genre])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Genres]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Publications] FOREIGN KEY([Id_Publication])
REFERENCES [dbo].[Publications] ([Id_Publication])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Publications]
GO
ALTER TABLE [dbo].[Books_Of_Authors]  WITH CHECK ADD  CONSTRAINT [FK_Books_Of_Authors_Authors] FOREIGN KEY([Id_Author])
REFERENCES [dbo].[Authors] ([Id_Author])
GO
ALTER TABLE [dbo].[Books_Of_Authors] CHECK CONSTRAINT [FK_Books_Of_Authors_Authors]
GO
ALTER TABLE [dbo].[Books_Of_Authors]  WITH CHECK ADD  CONSTRAINT [FK_Books_Of_Authors_Books] FOREIGN KEY([Id_Book])
REFERENCES [dbo].[Books] ([Id_Book])
GO
ALTER TABLE [dbo].[Books_Of_Authors] CHECK CONSTRAINT [FK_Books_Of_Authors_Books]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([Id_User])
REFERENCES [dbo].[Users] ([Id_User])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Orders_Lines]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Lines_Books] FOREIGN KEY([Id_Book])
REFERENCES [dbo].[Books] ([Id_Book])
GO
ALTER TABLE [dbo].[Orders_Lines] CHECK CONSTRAINT [FK_Orders_Lines_Books]
GO
ALTER TABLE [dbo].[Orders_Lines]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Lines_Orders] FOREIGN KEY([Id_Order])
REFERENCES [dbo].[Orders] ([Id_Order])
GO
ALTER TABLE [dbo].[Orders_Lines] CHECK CONSTRAINT [FK_Orders_Lines_Orders]
GO
ALTER TABLE [dbo].[Orders_Lines]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Lines_Readers] FOREIGN KEY([Id_Reader])
REFERENCES [dbo].[Readers] ([Id_Reader])
GO
ALTER TABLE [dbo].[Orders_Lines] CHECK CONSTRAINT [FK_Orders_Lines_Readers]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Types_Users] FOREIGN KEY([Id_Type_Users])
REFERENCES [dbo].[Types_Users] ([Id_Type])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Types_Users]
GO
USE [master]
GO
